* ::before, ::after {
    box-sizing: border-box;
  }
  
  body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background: #0a0a23;
    color: white;
  }
  
  img {
    height: 2rem;
    display: flex;
    margin: 1rem auto;
  }
  
  h1 {
    display: flex;
    justify-content: center;
    margin: 1rem auto;
  }
  
  #phone {
    width: 400px;
    height: 650px;
    background: #eff2ff;
    margin: 1rem auto;
    border-radius: 15px;
    box-shadow:  10px 10px lightslategrey;
  }
  
  #search-form {
    color: darkslategrey;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    justify-content: center;
  }
  #search-form label {
    display: flex;
    justify-content: center;
  }
  
  #id {
    margin: 0 auto;
  }
  
  #search-input {
    height: 2rem;
    border-radius: 5px;
    margin: 0.5rem;
  }
  #search-button {
    width: 5rem;
    height: 2.5rem;
    border-radius: 10px;
    color: white;
    background: #4B0082;
  }
  
  #output {
    flex-direction: column;
    align-items: center;
    position: relative;
  }
  
  #top-container, #bottom-container {
    display: flex;
    flex-direction: column;
    height: 225px;
    width: 95%;
    margin: 0 auto;
  }
  
  #top-container {
    background: #e1edf0;
    align-items: start;
    border: 2px solid #B2FFFF;
    position: relative;
    color: #0a0a23;
    border-radius: 10px;
    /* margin-bottom: 0.5rem; */
  }
  #bottom-container {
    position: relative;
    color: white;
    margin-top: 2rem;
  }
  #tr {
    justify-content: center;
    border-radius: 5px;
    /* margin: 0.5rem; */
  }
  
  table {
    border-radius: 5px;
    border-collapse: separate;
  }
  
  #bottom-container table tr, td {
    background: #4B0082;
    align-items: end;
    padding: 10px;
    width: 200px;
    justify-content: center;
    border-radius: 5px;
  }
  
  .name-id, .size {
    margin: 0.25rem;
  }
  
  .sprite-container {
    display: flex;
    flex-grow: 2;
    align-items: center;
    justify-content: center;
  }
  
  #sprite {
    margin: -3rem 3.5rem;
    padding: 0.5rem;
    width: 225px;
    height: 225px;
  }
  
  #class-type {
    margin: 0.25rem;
    display: inline-block;
  }